:root {
  --mainBlue: rgba(30,30, 240);
  --lightBlue: rgba(130,130, 240);
  --mainWhite: rgb(240,240,240);
  --mainDark: rgb(40,40,40);
  --mainYellow: rgb(230, 154, 13);
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permament Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}